@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

/* Change all font sizes */
*{
    font-family: 'raleway', sans-serif;
}

/* Stylng */
.javascript{
    width: 300px;
}
#map{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

/* Media Query */
@media(min-width: 768px){
    .news-input{
        width: 50%;
    }
   
}